<custom-picker
  class="date-picker {%- if class_pointer %} {{ class_pointer }}{% endif -%}"
  data-ladate="{{settings.la_custom_date}}"
  data-sfdate="{{settings.sf_custom_date}}"
  data-laweek="{{settings.la_sun}},{{settings.la_mon}},{{settings.la_tue}},{{settings.la_wed}},{{settings.la_thu}},{{settings.la_fri}},{{settings.la_sat}}"
  data-sfweek="{{settings.sf_sun}},{{settings.sf_mon}}, {{settings.sf_tue}},{{settings.sf_wed}},{{settings.sf_thu}},{{settings.sf_fri}},{{settings.sf_sat}}">
  <p class="custom-title">{{ settings.picker_title }}</p>
  <div class="flatpickr calendar">
    <input
      id="picker"
      type="text"
      placeholder="Estimated Due Date"
      name="properties[Date]"
      form='{{product_form_id}}'
      readonly="readonly"
      required>
    <a
      class="calendar-button"
      title="toggle"
      data-toggle>
      {% render 'icon-calendar' %}
    </a>
  </div>
  <p class="calendar-message">{{ settings.picker_error }}</p>
  <p class="product__text ">{{ settings.picker_description }}</p>
  {% if settings.picker_deliver != blank %}
    <div class="data-picker-notify">
      {% render 'my-icon-info' %}
      <p class="product__notify ">{{ settings.picker_deliver }}</p>
    </div>
  {% endif %}
</custom-picker>
<script src="{{ 'custom-pickr.js' | asset_url }}" defer="defer"></script>

<script></script>