{% assign opacity = section.settings.image_overlay_opacity | divided_by: 100.0 %}
<style>
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  .featured-blog__wrapper {
    padding: {{ section.settings.text_padding_y }}px {{ section.settings.text_padding_x }}px;
  }

  .featured-blog__wrapper::before {
    background-color: {{ section.settings.image_overlay_color | hex_to_rgba: opacity }};
  }
  .featured-blog__text {
    max-width: {{ section.settings.text_max_width }}px;
    color: {{ section.settings.text_color }};
  }
  .featured-blog__text .tags .article-tag {
    background-color: rgba(195, 134, 113, 0.20);
    border: none;
  }
  .featured-blog__text h3, .featured-blog__action-link {
    color: {{ section.settings.text_color }};
  }

</style>

<section>
  <div class="featured-blog container">
    <div class="featured-blog__wrapper">
        <span></span>
        {% if section.settings.article.metafields.custom.mobile_preview != blank %}
          <img src="{{ section.settings.article.metafields.custom.mobile_preview | img_url: 'master' }}" alt="">
        {% else %}
          <img src="{{ section.settings.article.image.src | img_url: 'master' }}" alt="">
        {% endif %}
      <div class="featured-blog__text">
        <span>Featured</span>
        <h3>{{ section.settings.article.excerpt | strip_html |truncatewords: 14  }}</h3>
        {% if section.settings.article.tags != blank %}
          <div class="tags">
            {% for tag in section.settings.article.tags %}
              {% assign article_name_handle = section.settings.article.url | split: '/' | last %}
              {% assign tag_filter = '/tagged/' | append: tag.handle %}
              {% assign blog_url = section.settings.article.url | replace: article_name_handle, tag_filter %}
              <a href="{{ blog_url }}">
                <span class="article-tag palo-14-600">{{ tag }}</span>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="featured-blog__action">

        <a class="featured-blog__action-link" href="{{ section.settings.btn_url }}">{{ section.settings.btn_title }}
          {% render 'icon-arrow-right' %}
        </a>
        <span></span>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured blog",
    "settings": [
      {
        "type": "article",
        "id": "article",
        "label": "Article"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Sectiom padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Sectiom padding bottom",
        "default": 36
      },
      {
        "type": "color",
        "id": "image_overlay_color",
        "label": "Set overlay color"
      },
      {
        "type": "range",
        "id": "image_overlay_opacity",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "%",
        "label": "t:sections.email-signup-banner.settings.image_overlay_opacity.label",
        "default": 0
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Set color text",
        "default": "#ffffff"
      },
      {
        "type": "range",
        "id": "text_max_width",
        "min": 300,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Text max width",
        "default": 900
      },
      {
        "type": "range",
        "id": "text_padding_x",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Tex padding axis-x",
        "default": 36
      },
      {
        "type": "range",
        "id": "text_padding_y",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "Sectiom padding axis-y",
        "default": 36
      },
      {
        "type": "text",
        "id": "btn_title",
        "label": "Button title",
        "default": "READ MORE"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Button url"
      }
    ],
    "presets": [
      {
        "name": "custom featured blog"
      }
    ]
  }
{% endschema %}